<p>about-us works55555!</p>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                This is some text within a card body.
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="card" style="width: 18rem;">
        <img src="https://www.thaipedigree.com/static/articles/e660dbabd7493aff4c39f40838fcb642ac51380e291c07c667797d76e33655f8.jpeg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">หมา</h5>
            <p class="card-text">หมาs = หมาเหมือนกันแต่เติม s.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>